[submodule "themes/erblog"]
	path = themes/erblog
	url = https://github.com/ertuil/erblog

[submodule "public"]
	path = public
	url = https://github.com/Ethonwu/ethonwu.github.io.git
	branch = master

[submodule "themes/themes/erblog"]
	path = themes/themes/erblog
	url = https://github.com/ertuil/erblog
